/*
    Adds page margin and padding for all pages. Displays a linear background for standard users.
 */
body {
    background: rgba(255, 255, 255, 0.48) linear-gradient(45deg, #2C95C4, #89c2d1);

    color:rgb(0, 0, 0);
    font-size:15px;
    line-height:1.7;
    margin: 10px 10px 0;
    padding: 10px 20px;
}
