/*
    Add some individual styles which aren't available in the Bootstrap package by default.
 */
.btn-space {
    margin-right: 15px;
}

.img-restricted-sm {
    max-height: 320px;
}

.img-restricted-md {
    max-height: 540px;
}

.img-restricted-lg {
    max-height: 720px;
}

.img-restricted-xl {
    max-height: 980px;
}

.c-restricted-sm {
    max-width: 640px;
}

.c-restricted-md {
    max-width: 720px;
}

.c-restricted-lg{
    max-width: 960px;
}

.c-restricted-xl {
    max-width: 1320px;
}

.c-restricted-xxl {
    max-width: 1780px;
}

/*
    Enhance default containers with headers
 */
.c-header {
    background-image: url("/static/img/header.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 16px;
}

.c-color {
    background-color: #F5F5F5;
}

.c-blue {
    background-color: rgb(166, 175, 188);
}

.c-lightblue {
    background-color: rgb(242, 247, 248);
}

.c-border {
    border: 1px solid black;
}

.c-bottomborder {
    border-bottom: 1px solid black;
}

.c-shadow {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.c-bigtitle {
    color: #00315c;
    font-size:20px;
    line-height:1.7;
    margin-bottom:0;
    font-weight:500;
    padding-left:20px;
    padding-right:20px;
}

.c-title {
    color:#59738A;
    font-size:16px;
    line-height:1.7;
    margin-bottom:0;
    font-weight:500;
    padding-left:20px;
    padding-right:20px;
}

.c-subtitle {
    color:#59738A;
    font-size:12px;
    line-height:1.7;
    margin-bottom:0;
    font-weight:500;
    padding-left:20px;
    padding-right:20px;
}

.c-bigcaption {
    color: #59738A;
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 0;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

.c-bigcaption a {
    color: #59738A;
}

.underline {
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: right;
    position: relative;
    top: -40px;
}

.underline span {
    position: relative;
    top: 18px;
    padding: 0 10px;
    background: #f8f9fa;
    color: #ddd;
    font-size:25px;
    right: 20px;
}

.image-item {
    width: 100px;
    height: 100px;
    flex: 0 0 auto;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
