{# / #}
{% extends 'shared/_layout.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-xxl c-header rounded bg-light mt-4 pt-4 pb-4">
        {#  Page header #}
        <div class="rounded">
            <br>
            Welcome to <b>KringleCraft</b> <i>/ˈkrɪŋ.ɡəl krɑːft/</i>. An online CTF solution editor and report generator inspired by <a class="link-primary" href="https://www.sans.org/mlp/holiday-hack-challenge/">SANS Holiday Hack Challenge &amp; KringleCon</a>.<br>
            Makes creating solutions and reports easy and fun 😀<br>
            <br>
        </div>

        {#  Show carousel containing advertising images  #}
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

            {# Wrapper for slides #}
            <div class="carousel-inner">

                {# First static slide #}
                <div class="carousel-item active">
                    <a href="{{ url_for('data.worlds') }}"><img class="img-fluid d-block mx-auto rounded img-restricted-lg" src="{{ url_for('static', filename='img/kringle_logo.jpg') }}" alt="KringleCraft Logo"></a>
                </div>

                {# Dynamic slides for all worlds #}
                {% for world in worlds %}
                    <div class="carousel-item">
                        {% if world_images[world.id] %}
                            <a href="{{ url_for('data.rooms', world_id=world.id) }}"><img class="img-fluid d-block mx-auto rounded img-restricted-lg" src="{{ url_for('static', filename='uploads/' + world_images[world.id][0] + "/" + world_images[world.id][1]) }}" alt="World Logo"></a>
                        {% else %}
                            <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ world.name }}">
                        {% endif %}
                        <div class="carousel-caption d-none d-md-block">
                            <div class="fs-4">{{ world.name }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# Left and right controls #}
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}
