{# /password #}
{% extends 'shared/_layout.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-md c-header rounded bg-light mt-4 pt-4 pb-4">
        <div class="container-fluid c-restricted-sm">
            {# Display form and possible error message - log in user #}
            <div class="mb-3 fs-4">Reset password</div>
            <form action="{{ url_for('home.password_post') }}" method="POST">
                {{ password_form.csrf_token }}
                <div class="form-group mt-2 mb-2">
                    <label for="email">{{ password_form.email.label }}</label>
                    {{ password_form.email(size=20, class="form-control", onkeypress="return event.charCode != 32") }}
                </div>
                {% for error in password_form.email.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-x-circle"></i> Send Reset Link</button>
            </form>
        </div>
    </div>
{% endblock %}
