{# /release #}
{% extends 'shared/_layout.html' %}

{% block title %}Release Notes{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {#  Show history #}
            <div class="my-2 fs-4 c-title">Version History</div>
            <div class="underline"><span><i class="bi bi-body-text" aria-hidden="true"></i></span></div>
            <div>
                <b>v1.2 (20240710)</b><br>
                Added a function to share reports via a link.<br><br>
                <b>v1.1 (20240709)</b><br>
                Added a search function.<br><br>
                <b>v1.0 (20240617)</b><br>
                Initial release. Hello World! 😀<br><br>
            </div>
        </div>
    </div>

    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {#  Show simple about #}
        <div class="my-2 fs-4 c-title">Release Notes</div>
        <div class="underline"><span><i class="bi bi-body-text" aria-hidden="true"></i></span></div>
        <div>
            Based on <a class="link-primary" href="https://palletsprojects.com/p/flask/">Flask</a> web application framework and <a class="link-primary" href="https://getbootstrap.com">Bootstrap</a> frontend toolkit. Hosted on <a class="link-primary" href="https://www.strato.de/">Strato</a> servers.<br>
            If you want to get in touch with me just visit my <a class="link-primary" href="https://github.com/Benjamin-BK-Krueger">GitHub page</a> or my <a class="link-primary" href="https://blk8.de">WordPress site</a>.<br>
            You may also send me a <a href="{{ url_for('home.contact')}}">message</a> here.
        </div>
    </div>
{% endblock %}
