{# /release #}
{% extends 'shared/_layout.html' %}

{% block title %}Release Notes{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-md c-header rounded bg-light mt-4 pt-4 pb-4">
        <div class="container-fluid c-restricted-sm">
            {#  Show history #}
            <div class="mb-3 fs-4">Version History</div>
            <div>
                <b>v1.0 (20240617)</b><br>
                Initial release. Hello World! 😀<br><br>
            </div>
        </div>
    </div>

    <div class="container-fluid c-restricted-xxl c-header rounded bg-light mt-4 pt-4 pb-4">
        {#  Show simple about #}
        <div class="mb-3 fs-4">Release Notes</div>
        <div>
            Based on <a class="link-primary" href="https://palletsprojects.com/p/flask/">Flask</a> web application framework and <a class="link-primary" href="https://getbootstrap.com">Bootstrap</a> frontend toolkit. Hosted on <a class="link-primary" href="https://www.strato.de/">Strato</a> servers.<br>
            If you want to get in touch with me just visit my <a class="link-primary" href="https://github.com/Benjamin-BK-Krueger">GitHub page</a> or my <a class="link-primary" href="https://blk8.de">WordPress site</a>.<br>
            You may also send me a <a href="{{ url_for('home.index')}}">message</a> here.
        </div>
    </div>
{% endblock %}
