{# /account/edit #}
{% extends 'shared/_layout.html' %}

{% block title %}Edit Account{% endblock %}

{% block additional_css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%;') }}
{% endblock %}

{% block additional_js %}
    {{ dropzone.load_js() }}
    {{ dropzone.config(redirect_url=url_for('account.profile_edit')) }}
{% endblock %}

{% block modal %}
    {# Modal dialog window - delete currently logged in user #}
    <div id="myModalDelete" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content c-lightblue c-border c-shadow">
                <div class="modal-header c-blue c-bottomborder">
                    <h4 class="modal-title c-bigtitle">Delete Account</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('account.profile_edit_deletion_post') }}" method="POST" id="form_deletion">
                        {{ deletion_form.csrf_token }}
                        Are you sure?
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger mt-4 btn-space" form="form_deletion"><i class="bi bi-check"></i> Confirm</button>
                    <button type="button" class="btn btn-secondary mt-4 btn-space" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {# Upload and view profile image #}
            <div class="my-2 fs-4 c-title">Change Account Image</div>
            <div class="underline"><span><i class="bi bi-body-text" aria-hidden="true"></i></span></div>
            <div class="row">
                <div class="col-sm">
                    {% if user_image %}
                        <img src="{{ url_for('static', filename='uploads/' + user_image[0] + "/" + user_image[1]) }}" class="img-fluid rounded img-restricted-lg" alt="User Image">
                        <a href="{{ url_for('storage.delete_image', path="profile", sub_path = "logo-" + current_user.id | string, filename=user_image[1], redirect="account.profile_edit", target_id=0) }}" title="Delete image" class="btn btn-danger mt-4"><i class="bi bi-trash"></i> Clear Image</a>
                    {% else %}
                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="img-fluid rounded img-restricted-lg" alt="User Image">
                    {% endif %}
                </div>
                <div class="col-sm">
                    {{ dropzone.create(action='storage.upload_image_post', path="profile", sub_path = "logo-" + current_user.id | string, overwrite=1) }}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {# Display form and possible error message - change user data #}
            <div class="my-2 fs-4 c-title">Edit Account</div>
            <div class="underline"><span><i class="bi bi-body-text" aria-hidden="true"></i></span></div>
            <form action="{{ url_for('account.profile_edit_mail_post') }}" method="POST">
                {{ mail_form.csrf_token }}
                <div class="form-group mt-2 mb-2">
                    <label for="email">{{ mail_form.email.label }}</label>
                    {{ mail_form.email(size=20, class="form-control", onkeypress="return event.charCode != 32") }}
                </div>
                {% for error in mail_form.email.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="description">{{ mail_form.description.label }}</label>
                    {{ mail_form.description(size=40, class="form-control") }}
                </div>
                {% for error in mail_form.description.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-check mt-2 mb-2">
                    <label class="form-check-label" for="notification">{{ mail_form.notification.label }}</label>
                    {{ mail_form.notification(class="form-check-input") }}
                </div>
                {% for error in mail_form.notification.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-save2"></i>  Update Data</button>
            </form>
        </div>
    </div>

    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {# Display form and possible error message - set a password for currently logged in user #}
            <div class="my-2 fs-4 c-title">Set new password</div>
            <div class="underline"><span><i class="bi bi-body-text" aria-hidden="true"></i></span></div>
            <form action="{{ url_for('account.profile_edit_password_post') }}" method="POST">
                {{ password_form.csrf_token }}
                <div class="form-group mt-2 mb-2">
                    <label for="password">{{ password_form.password.label }}</label>
                    {{ password_form.password(size=20, class="form-control") }}
                </div>
                {% for error in password_form.password.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="password2">{{ password_form.password2.label }}</label>
                    {{ password_form.password2(size=20, class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-save"></i> Set Password</button>
            </form>
        </div>
    </div>

    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {# Display simple button - show modal dialog window to delete currently logged in user #}
            <div class="my-2 fs-4 c-title">Delete this user account</div>
            <div class="underline"><span><i class="bi bi-body-text" aria-hidden="true"></i></span></div>
            <button type="button" class="btn btn-danger mt-4" data-bs-toggle="modal" data-bs-target="#myModalDelete"><i class="bi bi-trash"></i> Delete Account</button>
        </div>
    </div>
{% endblock %}
