{# /users #}
{% extends 'shared/_layout.html' %}

{% block title %}All Users{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {#  Show all users info #}
        <div class="mb-3 fs-4 c-title">All Users</div>
        <div class="underline"><span><i class="bi bi-body-text" aria-hidden="true"></i></span></div>

        {#  Show list of all users #}
        <div>
            {% if users | length == 0 %}
                No entries found.<br>
            {% else %}
                <div class="row">
                    {% for user in users %}
                        <div class="col-sm">
                            <figure class="figure">
                                <a href="{{ url_for('data.user', user_id=user.id) }}">
                                    {% if user_images[user.id] %}
                                        <img src="{{ url_for('static', filename='uploads/' + user_images[user.id][0] + "/" + user_images[user.id][1]) }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ user.name }}">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ user.name }}">
                                    {% endif %}
                                </a>
                                <figcaption class="figure-caption c-title">{{ user.name }}{% if user.role == ROLE_ADMIN %} <i class="bi bi-mortarboard"></i>{% endif %}{% if user.active == 0 %} <i class="bi bi-star"></i>{% endif %}</figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
