{# /user #}
{% extends 'shared/_layout.html' %}

{% block title %}User {{ user.name }}{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {#  Show user info #}
        <div class="rounded border mt-4 mb-4 c-color p-2">
            <div class="fs-4 text-center c-title">{{ user.name }} ({% if user.role == 0 %}<i class="bi bi-mortarboard"></i> Admin{% else %}User{% endif %})</div>
            <div class="underline"><span style="background: #f5f5f5;"><i class="bi bi-person" aria-hidden="true"></i></span></div>

            <div class="fs-6">{{ user.description }}</div>
            <div class="underline"><span style="background: #f5f5f5;"><i class="bi bi-person" aria-hidden="true"></i></span></div>

            {#  Display action buttons regarding the selected user  #}
            <a class="btn btn-secondary me-3" href="{{ url_for('data.users') }}" role="button"><i class="bi bi-backspace"></i> Back</a>
            {%  if current_user.role == 0 and user.active == 0 %}
                <a class="btn btn-primary me-3" href="{{ url_for('data.user_approve', user_id=user.id) }}" role="button"><i class="bi bi-person-check"></i> Approve</a>
            {%  endif %}
        </div>

        {% if user_image  %}
            <img src="{{ url_for('static', filename='uploads' + "/" + user_image[0] + "/" + user_image[1]) }}" class="img-fluid rounded img-restricted-lg" alt="User Image">
        {% else %}
            <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="img-fluid rounded img-restricted-lg" alt="User Image">
        {% endif %}
    </div>
{% endblock %}
