{# /objectives #}
{% extends 'shared/_layout.html' %}

{% block title %}Objectives in {{  room.room_name }}{% endblock %}

{% block additional_css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%;') }}
{% endblock %}

{% block additional_js %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    {#  Enable modal window error handling #}
    {%  if page_mode == "add"  %}
        <script src="{{ url_for('static', filename='js/func_modal_add.js') }}"></script>
    {%  endif %}

    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    {% if temp_ending %}
        {#  Mock Dropzone #}
        <script src="{{ url_for('static', filename='js/func_dropzone.js') }}"></script>
        <script>MockDropzone("objective", "{{ temp_ending }}")</script>
    {% endif %}
{% endblock %}

{% block modal %}
    {% if current_user.role == 0 %}
        {# Modal dialog window - create a new objective #}
        <div id="myModalAdd" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content c-lightblue c-border c-shadow">
                    <div class="modal-header c-blue c-bottomborder">
                        <h4 class="modal-title c-bigtitle">Create Objective</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {# Upload and view profile image #}
                        {{ dropzone.create(action='storage.upload_image_post', path="objective", filename_without_extension="_temp", overwrite=1) }}

                        <form action="#" method="POST" id="form_new">
                            {{ objective_form.csrf_token }}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ objective_form.name.name }}">{{ objective_form.name.label }}</label>
                                {{ objective_form.name(size=20, class="form-control") }}
                            </div>
                           {% for error in objective_form.name.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                           {% endfor %}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ objective_form.description.name }}">{{ objective_form.description.label }}</label>
                                {{ objective_form.description(size=40, class="form-control") }}
                            </div>
                            {% for error in objective_form.description.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ objective_form.difficulty.name }}">{{ objective_form.difficulty.label }}</label>: <label id="difficulty_number"></label>
                                {{ objective_form.difficulty(class="form-control", oninput="document.getElementById('difficulty_number').innerHTML  = document.getElementById('difficulty').value ") }}
                            </div>
                            {% for error in objective_form.difficulty.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ objective_form.type.name }}">{{ objective_form.type.label }}</label>
                                {{ objective_form.type(class="form-select") }}
                            </div>
                            <div class="form-check mt-2 mb-2">
                                <label class="form-check-label" for="visible">{{ objective_form.visible.label }}</label>
                                {{ objective_form.visible(class="form-check-input") }}
                            </div>
                            {% for error in objective_form.visible.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                       </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary mt-4 btn-space" form="form_new"><i class="bi bi-check"></i> Create</button>
                        <button type="button" class="btn btn-secondary mt-4 btn-space" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    {%  endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {# Show breadcrumb navigation #}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('data.worlds') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('data.world', world_id=world.id) }}">{{ world.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ room.name }}</li>
            </ol>
        </nav>

        {#  Show objective info #}
        <div class="rounded border mt-4 mb-4 c-color p-2">
            <div class="fs-4 text-center c-title">All Objectives in {{  room.name }}</div>
            <div class="underline"><span style="background: #f5f5f5;"><i class="bi bi-clipboard-data" aria-hidden="true"></i></span></div>

            {#  Display action buttons regarding the selected objective  #}
            <a class="btn btn-secondary me-3" href="{{ url_for('data.rooms', world_id=room.world_id )}}" role="button"><i class="bi bi-backspace"></i> Back</a>
            <a class="btn btn-success me-3" href="{{ url_for('data.room', room_id=room.id ) }}" role="button"><i class="bi bi-card-list"></i> {{ room.name }}</a>
            {% if current_user.role == 0 %}
                <a class="btn btn-primary me-3" href="#" role="button" data-bs-toggle="modal" data-bs-target="#myModalAdd"><i class="bi bi-plus-square"></i> Create</a>
            {%  endif %}
        </div>

        {#  Show list of all objectives #}
        <div>
            {% if objectives | length == 0 %}
                No entries found.<br>
            {% else %}
                <div class="row">
                    {% for objective in objectives %}
                        <div class="col-sm">
                            <figure class="figure">
                                <a href="{{ url_for('data.objective', objective_id=objective.id) }}">
                                    {% if objective_images[objective.id] %}
                                        <img src="{{ url_for('static', filename='uploads' + "/" + objective_images[objective.id][0] + "/" + objective_images[objective.id][1]) }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ objective.name }}">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ objective.name }}">
                                    {% endif %}
                                </a>
                                <figcaption class="figure-caption">{{ objective_types[objective.type] }} {{ objective.name }}</figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
