{# /objective #}
{% extends 'shared/_layout.html' %}

{% block title %}Objective {{ objective.name }}{% endblock %}

{% block additional_css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%;') }}
{% endblock %}

{% block additional_js %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    {% if temp_ending %}
        {#  Mock Dropzone #}
        <script src="{{ url_for('static', filename='js/func_dropzone.js') }}"></script>
        <script>MockDropzone("objective", "{{ temp_ending }}")</script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {# Show breadcrumb navigation #}
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('data.worlds') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('data.rooms', world_id=world.id) }}">{{ world.name }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('data.objectives', room_id=room.id) }}">{{ room.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ objective.name }}</li>
                </ol>
            </nav>

            {# Show objective editor #}
            <div class="my-2 fs-4 c-title">
                {% if page_mode == "edit" %}Edit Objective{% else %}Add Objective{% endif %}
            </div>
            <div class="underline"><span><i class="bi bi-clipboard-data" aria-hidden="true"></i></span></div>

            {# Upload and view objective image #}
            <div class="row">
                <div class="col-sm">
                    {% if objective_image %}
                        <img src="{{ url_for('static', filename='uploads' + "/" + objective_image[0] + "/" + objective_image[1]) }}" class="img-fluid rounded img-restricted-lg" alt="Objective Image">
                        <a href="{{ url_for('storage.delete_image', path="objective", filename=objective_image[1], redirect="data.objective", target_id=0) }}" title="Delete image" class="btn btn-danger mt-4"><i class="bi bi-trash"></i> Clear Image</a>
                    {% else %}
                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="img-fluid rounded img-restricted-lg" alt="Objective Image">
                    {% endif %}
                </div>
                <div class="col-sm">
                    {{ dropzone.create(action='storage.upload_image_post', path="objective", filename_without_extension="_temp", overwrite=1) }}
                </div>
            </div>

            {% if page_mode == "edit" %}
            <form action="{{ url_for('data.objective_post', objective_id=objective.id) }}" method="POST" id="form_edit">
            {% else %}
            <form action="{{ url_for('data.objectives_post', room_id=room.id) }}" method="POST" id="form_edit">
            {% endif %}
                {{ objective_form.csrf_token }}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ objective_form.name.name }}">{{ objective_form.name.label }}</label>
                    {{ objective_form.name(size=20, class="form-control") }}
                </div>
               {% for error in objective_form.name.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
               {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ objective_form.description.name }}">{{ objective_form.description.label }}</label>
                    {{ objective_form.description(size=40, class="form-control") }}
                </div>
                {% for error in objective_form.description.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ objective_form.difficulty.name }}">{{ objective_form.difficulty.label }}</label>: <label id="difficulty_number"></label>
                    {{ objective_form.difficulty(class="form-control", oninput="document.getElementById('difficulty_number').innerHTML  = document.getElementById('difficulty').value ") }}
                </div>
                {% for error in objective_form.difficulty.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ objective_form.type.name }}">{{ objective_form.type.label }}</label>
                    {{ objective_form.type(class="form-select") }}
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="{{ objective_form.room.name }}">{{ objective_form.room.label }}</label>
                    {{ objective_form.room(class="form-select") }}
                </div>
                <div class="form-check mt-2 mb-2">
                    <label class="form-check-label" for="visible">{{ objective_form.visible.label }}</label>
                    {{ objective_form.visible(class="form-check-input") }}
                </div>
                {% for error in objective_form.visible.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
            </form>

            <button type="submit" class="btn btn-primary mt-4 btn-space" form="form_edit"><i class="bi bi-check"></i> {% if page_mode == "edit" %}Update{% else %}Create{% endif %}</button>
            <a href="{{ url_for('data.objectives', room_id=room.id, highlight=objective.id) }}" class="btn btn-secondary mt-4 btn-space"><i class="bi bi-x"></i> Cancel</a>
        </div>
    </div>
{% endblock %}
