{# /objectives #}
{% extends 'shared/_layout.html' %}

{% block title %}Objectives in {{  room.name }}{% endblock %}

{% block additional_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myModalDelete = document.getElementById('myModalDelete');
            myModalDelete.addEventListener('show.bs.modal', function (event) {
                var link = event.relatedTarget;
                var objectiveId = link.getAttribute('data-objective-id');
                var form = myModalDelete.querySelector('#form_deletion');
                form.action = `/objective/delete/${objectiveId}`;
            });
        });
    </script>
{% endblock %}

{% block modal %}
    {% if current_user.role == ROLE_ADMIN %}
        {# Modal dialog window - delete currently selected objective #}
        <div id="myModalDelete" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content c-lightblue c-border c-shadow">
                    <div class="modal-header c-blue c-bottomborder">
                        <h4 class="modal-title c-bigtitle">Delete Objective/Character/Item</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('data.objective_delete', objective_id='PLACEHOLDER_ID' | int) }}" id="form_deletion">
                            Are you sure?
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger mt-4 btn-space" form="form_deletion"><i class="bi bi-check"></i> Confirm</button>
                        <button type="button" class="btn btn-secondary mt-4 btn-space" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    {%  endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {# Show breadcrumb navigation #}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('data.worlds') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('data.rooms', world_id=world.id) }}">{{ world.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ room.name }}</li>
            </ol>
        </nav>

        {#  Show objective info #}
        <div class="mb-3 fs-4 c-title">All Objectives in {{  room.name }}</div>
        <div class="underline"><span><i class="bi bi-clipboard-data" aria-hidden="true"></i></span></div>

        {#  Show list of all objectives #}
        <div>
            {% if objectives | length == 0 %}
                No entries found.<br>
            {% else %}
                <div class="row">
                    {% for objective in objectives %}
                        {% if highlight == objective.id %}
                        <div class="col-md-4 c-dashedborder">
                        {% else %}
                        <div class="col-md-4">
                        {% endif %}
                            <div class="c-title">{{ objective_types[objective.type] }} {{ objective.name }} {% if objective.visible %}<i class="bi bi-unlock"></i>{% else %}<i class="bi bi-lock"></i>{% endif %} <i class="bi bi-{{ objective.difficulty }}-circle"></i></div>
                            <figure class="figure c-bigcaption">
                                <a href="{{ url_for('data.answer', objective_id=objective.id) }}">
                                    {% if objective_images[objective.id] %}
                                        <img src="{{ url_for('static', filename='uploads' + "/" + objective_images[objective.id][0] + "/" + objective_images[objective.id][1]) }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ objective.name }}">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ objective.name }}">
                                    {% endif %}
                                </a>
                                <figcaption class="figure-caption c-bigcaption">
                                    {% if current_user.role == ROLE_ADMIN %}
                                        <a href="{{ url_for('data.objective', objective_id=objective.id, page_mode="edit") }}" data-toggle="tooltip" title="Edit Objective"><i class="bi bi-pencil-square"></i></a>&nbsp;
                                        <a href="#" data-toggle="tooltip" title="Delete Objective" data-bs-toggle="modal" data-bs-target="#myModalDelete" data-objective-id="{{ objective.id }}"><i class="bi bi-trash"></i></a>&nbsp;
                                        <a href="{{ url_for('task.challenge', objective_id=objective.id)}}" data-toggle="tooltip" title="Create Challenge"><i class="bi bi-question-square"></i></a>&nbsp;
                                    {% endif %}
                                    {% if current_user.role == ROLE_ADMIN or current_user.role == ROLE_USER %}
                                        <a href="{{ url_for('task.solution', objective_id=objective.id) }}" data-toggle="tooltip" title="Create Solution"><i class="bi bi-exclamation-square"></i></a>&nbsp;
                                        <a href="{{ url_for('report.single', report_format="markdown", objective_id=objective.id) }}" data-toggle="tooltip" title="Create Markdown Report"><i class="bi bi-filetype-md"></i></a>&nbsp;
                                        <a href="{{ url_for('report.single', report_format="html", objective_id=objective.id) }}" data-toggle="tooltip" title="Create HTML Report"><i class="bi bi-filetype-html"></i></a>
                                    {% endif %}
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {#  Display action buttons regarding the selected objective  #}
        <div class="col d-flex mt-4">
            <a class="btn btn-secondary me-3" href="{{ url_for('data.rooms', world_id=room.world_id, highlight=room.id)}}" role="button"><i class="bi bi-backspace"></i> Back</a>
            {% if current_user.role == ROLE_ADMIN %}
                <a class="btn btn-primary me-3" href="{{ url_for('data.objective', objective_id=0, page_mode="add", room_id=room.id) }}" role="button"><i class="bi bi-plus-square"></i> Create</a>
            {%  endif %}
        </div>
    </div>
{% endblock %}
