{# /room #}
{% extends 'shared/_layout.html' %}

{% block title %}Room {{ room.name }}{% endblock %}

{% block additional_css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%;') }}
{% endblock %}

{% block additional_js %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    <script src="{{ url_for('static', filename='js/func_dropzone.js') }}"></script>
    {% if page_mode == "edit" %}
        <script>QueueDropzone_Room("{{ csrf_token() }}", "{{ url_for('data.room_post', room_id=room.id, force_check=1) | safe}}")</script>
    {% else %}
        <script>QueueDropzone_Room("{{ csrf_token() }}", "{{ url_for('data.rooms_post', world_id=world.id, force_check=1) | safe}}")</script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {# Show breadcrumb navigation #}
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('data.worlds') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('data.rooms', world_id=world.id) }}">{{ world.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ room.name }}</li>
                </ol>
            </nav>

            {# Show room editor #}
            <div class="my-2 fs-4 c-title">
                {% if page_mode == "edit" %}Edit Room{% else %}Add Room{% endif %}
            </div>
            <div class="underline"><span><i class="bi bi-building" aria-hidden="true"></i></span></div>

            {# Upload and view room image #}
            <div class="row">
                <div class="col-sm">
                    {% if room_image %}
                        <img src="{{ url_for('static', filename='uploads/' + room_image[0] + "/" + room_image[1]) }}" class="img-fluid rounded img-restricted-lg" alt="Room Image">
                        {% if page_mode == "edit" %}
                            <a href="{{ url_for('storage.delete_image', path="room", sub_path = "logo-" + room.id | string, filename=room_image[1], redirect="data.room", target_id=room.id) }}" title="Delete image" class="btn btn-danger mt-4"><i class="bi bi-trash"></i> Clear Image</a>
                        {% endif %}
                    {% else %}
                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="img-fluid rounded img-restricted-lg" alt="Room Image">
                    {% endif %}
                </div>
                <div class="col-sm">
                    {% if page_mode == "edit" %}
                        {{ dropzone.create(action='storage.upload_image_post', path="room", sub_path = "logo-" + room.id | string, overwrite=1) }}
                    {% else %}
                        {{ dropzone.create(action='storage.upload_image_post', path="room", sub_path = "logo-0", overwrite=1) }}
                    {% endif %}
                </div>
            </div>

            {% if page_mode == "edit" %}
            <form action="{{ url_for('data.room_post', room_id=room.id) }}" method="POST" id="form_edit">
            {% else %}
            <form action="{{ url_for('data.rooms_post', world_id=world.id) }}" method="POST" id="form_edit">
            {% endif %}
                {{ room_form.csrf_token }}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ room_form.name.name }}">{{ room_form.name.label }}</label>
                    {{ room_form.name(size=20, class="form-control") }}
                </div>
               {% for error in room_form.name.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
               {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ room_form.description.name }}">{{ room_form.description.label }}</label>
                    {{ room_form.description(size=40, class="form-control") }}
                </div>
                {% for error in room_form.description.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-check mt-2 mb-2">
                    <label class="form-check-label" for="disabled">{{ room_form.disabled.label }}</label>
                    {{ room_form.disabled(class="form-check-input") }}
                </div>
                {% for error in room_form.disabled.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ room_form.world.name }}">{{ room_form.world.label }}</label>
                    {{ room_form.world(class="form-select") }}
                </div>
            </form>

            <button type="submit" class="btn btn-primary mt-4 btn-space" form="form_edit"><i class="bi bi-check"></i> {% if page_mode == "edit" %}Update{% else %}Create{% endif %}</button>
            <a href="{{ url_for('data.rooms', world_id=world.id, highlight=room.id) }}" class="btn btn-secondary mt-4 btn-space"><i class="bi bi-x"></i> Cancel</a>
        </div>
    </div>
{% endblock %}
