{# /worlds #}
{% extends 'shared/_layout.html' %}

{% block title %}All Worlds{% endblock %}

{% block additional_css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%;') }}
{% endblock %}

{% block additional_js %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    {# Enable modal window error handling #}
    {% if page_mode == "add" %}
        <script src="{{ url_for('static', filename='js/func_modal_add.js') }}"></script>
    {% endif %}

    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    {% if temp_ending %}
        {#  Mock Dropzone #}
        <script src="{{ url_for('static', filename='js/func_dropzone.js') }}"></script>
        <script>MockDropzone("world", "{{ temp_ending }}")</script>
    {% endif %}
{% endblock %}

{% block modal %}
    {% if current_user.role == 0 %}
        {# Modal dialog window - create a new world #}
        <div id="myModalAdd" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content c-lightblue c-border c-shadow">
                    <div class="modal-header c-blue c-bottomborder">
                        <h4 class="modal-title c-bigtitle">Create World</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {# Upload and view profile image #}
                        {{ dropzone.create(action='storage.upload_image_post', path="world", filename_without_extension="_temp", overwrite=1) }}

                        <form action="{{ url_for('data.worlds_post') }}" method="POST" id="form_new">
                            {{ world_form.csrf_token }}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ world_form.name.name }}">{{ world_form.name.label }}</label>
                                {{ world_form.name(size=20, class="form-control") }}
                            </div>
                            {% for error in world_form.name.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ world_form.description.name }}">{{ world_form.description.label }}</label>
                                {{ world_form.description(size=40, class="form-control") }}
                            </div>
                            {% for error in world_form.description.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-group mt-2 mb-2">
                                <label for="{{ world_form.url.name }}">{{ world_form.url.label }}</label>
                                {{ world_form.url(size=20, class="form-control") }}
                            </div>
                            {% for error in world_form.url.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-check mt-2 mb-2">
                                <label class="form-check-label" for="visible">{{ world_form.visible.label }}</label>
                                {{ world_form.visible(class="form-check-input") }}
                            </div>
                            {% for error in world_form.visible.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                            <div class="form-check mt-2 mb-2">
                                <label class="form-check-label" for="archived">{{ world_form.archived.label }}</label>
                                {{ world_form.archived(class="form-check-input") }}
                            </div>
                            {% for error in world_form.archived.errors %}
                                <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary mt-4 btn-space" form="form_new"><i class="bi bi-check"></i> Create</button>
                        <button type="button" class="btn btn-secondary mt-4 btn-space" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {# Show breadcrumb navigation #}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>

        {#  Show all worlds info #}
        <div class="mb-3 fs-4 c-title">All Worlds</div>
        <div class="underline"><span><i class="bi bi-globe" aria-hidden="true"></i></span></div>

        {#  Show list of all worlds #}
        <div>
            {% if worlds | length == 0 %}
                No entries found.<br>
            {% else %}
                <div class="row">
                    {% for world in worlds %}
                        {% if highlight == world.id %}
                        <div class="col-md-4 c-dashedborder">
                        {% else %}
                        <div class="col-md-4">
                        {% endif %}
                            <div class="c-title">{{ world.name }} {% if world.visible %}<i class="bi bi-unlock"></i>{% else %}<i class="bi bi-lock"></i>{% endif %} {% if world.archived %}<i class="bi bi-archive"></i>{% else %}<i class="bi bi-envelope-open"></i>{% endif %}</div>
                            <figure class="figure">
                                <a href="{{ url_for('data.rooms', world_id=world.id) }}">
                                    {% if world_images[world.id] %}
                                        <img src="{{ url_for('static', filename='uploads' + "/" + world_images[world.id][0] + "/" + world_images[world.id][1]) }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ world.name }}">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="figure-img img-fluid rounded img-restricted-sm" alt="{{ world.name }}">
                                    {% endif %}
                                </a>
                                <figcaption class="figure-caption c-bigcaption">
                                    {% if current_user.role == 0 %}
                                        <a href="{{ url_for('data.world', world_id=world.id, page_mode="edit") }}" data-toggle="tooltip" title="Edit World"><i class="bi bi-pencil-square"></i></a>&nbsp;
                                        <a href="{{ url_for('data.world', world_id=world.id, page_mode="delete") }}" data-toggle="tooltip" title="Delete World"><i class="bi bi-trash"></i></a>&nbsp;
                                    {% endif %}
                                    {% if current_user.role == 0 or current_user.role == 1 %}
                                        <a href="{{ url_for('task.summary', world_id=world.id) }}" data-toggle="tooltip" title="Write Summary"><i class="bi bi-journal-text"></i></a>&nbsp;
                                        <a href="{{ url_for('report.full', report_format="markdown", world_id=world.id) }}" data-toggle="tooltip" title="Create Markdown Report"><i class="bi bi-filetype-md"></i></a>&nbsp;
                                        <a href="{{ url_for('report.full', report_format="html", world_id=world.id) }}" data-toggle="tooltip" title="Create HTML Report"><i class="bi bi-filetype-html"></i></a>&nbsp;
                                        <a href="{{ url_for('task.progress', world_id=world.id) }} " data-toggle="tooltip" title="Show Progress"><i class="bi bi-speedometer"></i></a>
                                    {% endif %}
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {#  Display action buttons regarding the selected world  #}
        <div class="col d-flex mt-4">
            {% if current_user.role == 0 %}
                <a class="btn btn-primary me-3" href="#" role="button" data-bs-toggle="modal" data-bs-target="#myModalAdd"><i class="bi bi-plus-square"></i> Create</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
