{# /world #}
{% extends 'shared/_layout.html' %}

{% block title %}World {{ world.world_name }}{% endblock %}

{% block additional_css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%;') }}
{% endblock %}

{% block additional_js %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    <script src="{{ url_for('static', filename='js/func_dropzone.js') }}"></script>
    {% if page_mode == "edit" %}
        <script>QueueDropzone_World("{{ csrf_token() }}", "{{ url_for('data.world_post', world_id=world.id, force_check=1)  | safe}}")</script>
    {% else %}
        <script>QueueDropzone_World("{{ csrf_token() }}", "{{ url_for('data.worlds_post', force_check=1) | safe}}")</script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-md c-header c-shadow rounded bg-light mt-4 py-4">
        <div class="container-fluid c-restricted-sm">
            {# Show breadcrumb navigation #}
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('data.worlds') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ world.name }}</li>
                </ol>
            </nav>

            {# Show world editor #}
            <div class="my-2 fs-4 c-title">
                {% if page_mode == "edit" %}Edit World{% else %}Add World{% endif %}
            </div>
            <div class="underline"><span><i class="bi bi-globe" aria-hidden="true"></i></span></div>

            {# Upload and view world image #}
            <div class="row">
                <div class="col-sm">
                    {% if world_image %}
                        <img src="{{ url_for('static', filename='uploads/' + world_image[0] + "/" + world_image[1]) }}" class="img-fluid rounded img-restricted-lg" alt="World Image">
                        {% if page_mode == "edit" %}
                            <a href="{{ url_for('storage.delete_image', path="world", sub_path = "logo-" + world.id | string, filename=world_image[1], redirect="data.world", target_id=world.id) }}" title="Delete image" class="btn btn-danger mt-4"><i class="bi bi-trash"></i> Clear Image</a>
                        {% endif %}
                    {% else %}
                        <img src="{{ url_for('static', filename='img/not_found.jpg') }}" class="img-fluid rounded img-restricted-lg" alt="World Image">
                    {% endif %}
                </div>
                <div class="col-sm">
                    {% if page_mode == "edit" %}
                        {{ dropzone.create(action='storage.upload_image_post', path="world", sub_path = "logo-" + world.id | string, overwrite=1) }}
                    {% else %}
                        {{ dropzone.create(action='storage.upload_image_post', path="world", sub_path = "logo-0", overwrite=1) }}
                    {% endif %}
                </div>
            </div>

            {% if page_mode == "edit" %}
            <form action="{{ url_for('data.world_post', world_id=world.id) }}" method="POST" id="form_edit">
            {% else %}
            <form action="{{ url_for('data.worlds_post') }}" method="POST" id="form_edit">
            {% endif %}
                {{ world_form.csrf_token }}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ world_form.name.name }}">{{ world_form.name.label }}</label>
                    {{ world_form.name(size=20, class="form-control") }}
                </div>
                {% for error in world_form.name.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ world_form.description.name }}">{{ world_form.description.label }}</label>
                    {{ world_form.description(size=40, class="form-control") }}
                </div>
                {% for error in world_form.description.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-group mt-2 mb-2">
                    <label for="{{ world_form.url.name }}">{{ world_form.url.label }}</label>
                    {{ world_form.url(size=20, class="form-control") }}
                </div>
                {% for error in world_form.url.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-check mt-2 mb-2">
                    <label class="form-check-label" for="visible">{{ world_form.visible.label }}</label>
                    {{ world_form.visible(class="form-check-input") }}
                </div>
                {% for error in world_form.visible.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-check mt-2 mb-2">
                    <label class="form-check-label" for="disabled">{{ world_form.disabled.label }}</label>
                    {{ world_form.disabled(class="form-check-input") }}
                </div>
                {% for error in world_form.disabled.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
                <div class="form-check mt-2 mb-2">
                    <label class="form-check-label" for="archived">{{ world_form.archived.label }}</label>
                    {{ world_form.archived(class="form-check-input") }}
                </div>
                {% for error in world_form.archived.errors %}
                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                {% endfor %}
            </form>

            <button type="submit" class="btn btn-primary mt-4 btn-space" form="form_edit"><i class="bi bi-check"></i> {% if page_mode == "edit" %}Update{% else %}Create{% endif %}</button>
            <a href="{{ url_for('data.worlds', highlight=world.id) }}" class="btn btn-secondary mt-4 btn-space"><i class="bi bi-x"></i> Cancel</a>
        </div>
    </div>
{% endblock %}
