{# /progress #}
{% extends 'shared/_layout.html' %}

{% block title %}Progress for {{ world.name }}{% endblock %}

{% block content %}
    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {# Show breadcrumb navigation #}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('data.worlds') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ world.name }}</li>
            </ol>
        </nav>

        {#  Show progress for all objectives and solutions #}
        <div class="rounded border mt-4 mb-4 c-color p-2">
            <div class="mb-3 fs-4 c-title">Progress for {{ world.name }}</div>
            <div class="progress-bar" role="progressbar" style="background-color: #0d6efd; width: {{ solved_percentage }}%;" aria-valuenow="{{ solved_percentage }}" aria-valuemin="0" aria-valuemax="100">{{ solved_percentage }}% solved</div>
            <div class="underline"><span style="background: #f5f5f5;"><i class="bi bi-globe" aria-hidden="true"></i></span></div>

            {#  Display action buttons regarding the selected world  #}
            <a class="btn btn-secondary me-3" href="{{ url_for('data.world', world_id=world.id) }}" role="button"><i class="bi bi-backspace"></i> Back</a>
        </div>

        {% for room in rooms %}
            <div>
                <div class="mb-2 mt-2 fs-5">{{ room.name }}</div>
                <ul class="list-group">
                    {% for objective in objectives %}
                        {% if room.id == objective.room_id %}
                            <li class="list-group-item">
                                <a href="{{ url_for('data.objective', objective_id=objective.id)}}">{{ objective_types[objective.type] }} {{ objective.name }}</a>
                                {% if objective.difficulty > 0 %}
                                    - Difficulty {{ objective.difficulty }}
                                    {% for solution in solutions %}
                                        {% if objective.id == solution.objective_id  %}
                                            {% if solution.completed == 1 %}
                                                <i class="bi bi-star-fill"></i>
                                            {% else %}
                                                <i class="bi bi-star"></i>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if objective.visible == 0 %}
                                    (Not shown in report)
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
