{# /walkthrough #}
{% extends 'shared/_layout.html' %}

{% block title %}Solution for {{ objective.name }}{% endblock %}

{% block content %}
    {#  Enable clipboard #}
    <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
        {# Show breadcrumb navigation #}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('data.worlds') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('data.rooms', world_id=world.id) }}">{{ world.name }}</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('data.objectives', room_id=room.id) }}">{{ room.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ objective.name }}</li>
            </ol>
        </nav>

        {#  Show objective info #}
        <div class="mb-3 fs-4 c-title">Solution for {{ objective.name }}</div>
        <div class="underline"><span><i class="bi bi-clipboard-data" aria-hidden="true"></i></span></div>

        <div class="container-fluid c-restricted-xxl c-header c-shadow rounded bg-light mt-4 py-4">
            {#  Display solution of the selected objective - the markdown has been converted to HTML #}
            <div class="fs-3 c-title">Solution</div>
            {{ md_solution|safe }}

            <div class="collapse" id="collapseFlag">
                <div class="card card-body">
                    {{ solution.ctf_flag }}
                </div>
            </div>
        </div>

        {# Display simple buttons - submit or cancel form editing #}
        <div class="col d-flex mt-4">
            <a class="btn btn-primary mt-4 mb-4 btn-space" data-bs-toggle="collapse" href="#collapseFlag" role="button" aria-expanded="false" aria-controls="collapseFlag"><i class="bi bi-flag"></i> Show Flag</a>
            <a class="btn btn-secondary mt-4 mb-4 btn-space" href="{{ url_for('data.objective', objective_id=objective.id) }}" role="button"><i class="bi bi-backspace"></i> Back</a>
        </div>
    </div>
{% endblock %}
